.wrapper {
  max-width: 1600px; /* 20px smaller, to fit the paddings on the sides */
  padding-right: 10px;
  padding-left: 10px;

  margin: 0 auto;
}

.navbar {
  height: 2em;
  border-bottom: 1px solid rgb(194, 167, 211);
}

.navbar nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.active {
  font-weight: bold;
  color: rgb(118, 120, 195);
}

.inactive {
  color: rgb(0, 0, 0);
}

/* List styles */

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.itembox {
  display: flex;
  flex-direction: column;
  padding: 0.4em;
  margin-bottom: 1em;
  min-width: 30rem;
  border: 1px solid black;
  box-sizing: border-box;
}

.head {
  font-weight: bold;
  color: rgb(118, 120, 195);
}

/* button styles */
.Home button {
  margin: 0.3em;
  background-color: rgb(202, 127, 211);
  border-radius: 20px;
  border-width: 1px;
  font-size: 0.8rem;
  padding: 0.5em;
  box-sizing: border-box;
  cursor: pointer;
}

.Home button:hover {
  background-color: rgb(118, 120, 195);
}

/* MODAL styles */

.ui {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.box {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.README {
  margin: 0 auto;
  text-align: center;
}
